html{
    background-color: aquamarine;
}

body{
    display: flex;
    flex-direction: row;
}

.PageContent{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    flex: 1;
    margin: 64px;
    font-size: 38px;
}

.ChoiceContainer{
    display: flex;
    flex: 1;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-top: 48px;
    margin: 64px;
}

.ChoiceContainer div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ChoiceButton{
    background-color: gainsboro;
    height: 128px;
    width: 128px;
    font-size: 24px;
}

.ResultText{
    margin: 128px;
    text-align: center;
    color: black;
    background-color: gray;
    font-size: 36px;
}

img{
    height: 128px;
    width: 128px;
}